@using DOCTORLOAN.Models.Orders;
@{
    ViewData["Title"] = "Thanh Toán";
}
<section id="CartPayment" class="cart-payment">
    <div class="container">
        <div class="row">
            <form method="post" asp-controller="Cart" asp-action="PaymentPost" class="row needs-validation" novalidate>
                <div id="alert" class="alert alert-error">
                    @if (TempData["AlertMessageError"] != null)
                    {
                        <div class="alert alert-warning">
                            @TempData["AlertMessageError"]
                        </div>
                    }
                </div>
                <div class="col-lg-7">
                    <div class="cart-wrapper">
                        <div class="title-cart">Thông tin đơn hàng</div>
                        <div class="cart-link">Đã có tài khoản?&nbsp; <a asp-controller="Auth" asp-action="Login">Đăng nhập</a></div>
                        <div class="cart-form">
                            <div class="mb-3">
                                <label for="fullName" class="req">Tên người nhận</label>
                                <input type="text" class="form-control" placeholder="Nhập tên người nhận" name="FullName" id="fullName" required />
                                <div class="invalid-feedback">
                                    Vui lòng nhập họ tên.
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-6">
                                    <label for="phone" class="req">Số điện thoại</label>
                                    <input type="text" class="form-control" placeholder="Nhập số điện thoại" name="Phone" id="phone" required />
                                    <div class="invalid-feedback">
                                        Vui lòng nhập số điện thoại.
                                    </div>
                                </div>

                                <div class="mb-3 col-6">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" placeholder="Nhập email" name="Email" id="email" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-4">
                                    <label for="city" class="req">Thành Phố</label>
                                    <input id="city" class="form-control" required />
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên Thành Phố:
                                        <br /> - Ví dụ: Hồ Chí Minh, Hà Nội,...
                                    </div>
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="District" class="req">Quận, Huyện</label>
                                    <input id="district" class="form-control" required />
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên Quận, Huyện:
                                        <br /> - Ví dụ: Quận 1, Huyện Bình Chánh,...
                                    </div>
                                </div>

                                <div class="mb-3 col-4">
                                    <label for="ward" class="req">Xã, Phường</label>
                                    <input id="ward" class="form-control" required />
                                    <div class="invalid-feedback">
                                        Vui lòng nhập tên Xã, Phường:
                                        <br /> - Ví dụ: Phường Phạm Ngũ Lão, Xã Bình Mỹ,...
                                    </div>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="addressDetaills" class="req">Địa chỉ cụ thể</label>
                                <input type="text" class="form-control" placeholder="Số nhà - Tên Đường" id="addressDetaills" onfocusout="myFunction()" required  />
                                <div class="invalid-feedback">
                                    Vui lòng nhập địa chỉ cụ thể:
                                    <br/> - (Số nhà  - Tên Đường)
                                    <br/> - Tên địa danh (Thôn - Ấp - Làng,...)
                                </div>
                            </div>
                            
                            <input type="text" class="form-control" placeholder="Nhập địa chỉ" name="AddressLine" id="addressLine" hidden />

                            <div class="mb-3">
                                <label for="remarks">Ghi chú</label>
                                <textarea class="form-control" placeholder="Nhập ghi chú" name="Remarks" id="remarks" rows="3"></textarea>
                            </div>
                            <input type="text" class="form-control" value="1" id="paymentMethod" name="PaymentMethod" hidden />
                        </div>

                        <div class="title-cart">Thông tin thanh toán <span>Vui lòng chọn một hình thức thanh toán.</span></div>
                        <div class="info-payment">
                            <a href="javascript:void(0)" class="btn btn-payment active" data-payment="transfer">Chuyển khoản</a>
                            <a href="javascript:void(0)" class="btn btn-payment" data-payment="cod">Thanh toán khi nhận hàng</a>
                            <hr class="hr-payment" />
                            <div class="payment-content transfer active">
                                <div id="transfer"></div>
                                <p>Thông tin chuyển khoản</p>
                                <p>
                                    <strong>
                                        CÔNG TY TNHH GIA THÁI DOCTORLOAN <br />
                                        Số tài khoản: 6899136899 <br />
                                        Ngân hàng: TMCP Ngoại Thương Việt Nam (VIETCOMBANK - VCB) <br />
                                        Nội dung chuyển khoản: Tên + Địa chỉ giao hàng
                                    </strong>
                                </p>
                            </div>

                            <div class="payment-content cod">
                                <div id="cod"></div>
                                <p><strong>Đơn hàng sẽ được gửi đến bạn trong thời gian sớm nhất!</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="cart-wrapper">
                        <div class="title-cart">Đơn hàng</div>
                        <hr class="hr-payment" />
                        <div id="cartWrapperItem"></div>
                    </div>
                    <div class="text-center">
                        <button class="btn checkout" type="submit">Đặt hàng</button>
                        @* <a id="btnOrder" class="btn checkout">Đặt hàng</a> *@
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        //Validation
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        })();

        function myFunction() {
            return $("#addressLine").val($("#addressDetaills").val() + " - " + $("#ward").val() + " - " + $("#district").val() + " - " + $("#city").val());
        }

        //Function select method payment
        $(document).on('click', '.btn-payment', function () {
            $('.btn-payment').removeClass("active");
            $(this).addClass("active");
            var getdatapayment = $(this).attr("data-payment");
            $('.payment-content').removeClass("active");
            $('.payment-content.' + getdatapayment).addClass("active");

            if (getdatapayment == 'transfer') {
                $('#paymentMethod').val('1');
            } else if (getdatapayment == 'cod') {
                $('#paymentMethod').val('2');
            }
        });

        //Function convert formart VND
        function formartVND(e) {
            e.text(parseInt(e.text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
        }

        //Function get parameter in url
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        // Get the value of the parameter in URL
        var paramIdVal = getParameterByName('id');
        var paramQuantityVal = getParameterByName('quantity');

        var resultAPI;
        // Get the value of the parameter productId in URL
        function getProduct() {
            $.ajax({
                url: 'https://doctorloan-api.giathaidoctorloan.vn/api/product-module/Product/GetProduct?id=' + paramIdVal,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    resultAPI = data;
                    var productId = data.data.id;
                    // Handle call API Products
                    var productItem = $(`<div data-id="` + productId + `" class="list-product-payment">
                                            <div class="pp-item">
                                                <div class="pp-info">
                                                    <img id="imgProductPayment" src="`+ data.data.productMedias[0].mediaUrl + `" />
                                                    <div id="pp-desc" class="pp-desc">
                                                    <strong>`+ data.data.name + `</strong>
                                                    <input type="text" name="Name" value="`+ data.data.name + `" class="form-control" hidden />
                                                    <div style="display:left;" >
                                                        <div id="quantity">
                                                            <label for="quantityPayment-`+productId+`">Số Lượng</label>
                                                            <input min="1" type="number" name="Quantity" value="`+ paramQuantityVal + `" id="quantityPayment-`+productId+`" class="form-control" style="width: 80px !important" />
                                                        </div>
                                                        <div id="paymentItemColor" class="ipr-color"></div>
                                                        <div id="iprItemOption" class="ipr-item">
                                                            <input type="number" name="ProductItemId" value="" id="productItemId-`+ data.data.id + `" hidden />
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div id="iprPrice">`+ data.data.price + `</div>
                                                <input type="text" name="Price" value="`+ data.data.price + `" class="form-control" hidden />
                                            </div>
                                        </div>
                                        <div class="total-cart">
                                            <div class="total-info">
                                                <span>Tạm tính</span>
                                                <span id="cart-subtotal">`+ data.data.price + `</span>
                                            </div>
                                            <div class="total-info">
                                                <span>Phí vận chuyển</span>
                                                <span id="cart-shipping">Miễn phí toàn quốc</span>
                                            </div>
                                            <div class="total-info totals-item-total">
                                                <span>Tổng cộng</span>
                                                <span id="cart-total">`+ (data.data.price + data.data.priceDiscount) + `</span>
                                                <input type="text" name="TotalPrice" value="`+ (data.data.price + data.data.priceDiscount) + `" class="form-control" hidden />
                                            </div>
                                        </div>`);
                    $("#cartWrapperItem").append(productItem);

                    formartVND($('#iprPrice'));
                    formartVND($('#cart-subtotal'));
                    //formartVND($('#cart-shipping'));
                    formartVND($('#cart-total'));

                    var imgProduct = "";
                    var imgThumb = "";
                    var flagN85 = false;
                    var flag = false;
                    var flagF4 = false;
                    var flagF1 = false;
                    var flagDT = false;
                    var gn_135 = 21;
                    var n85_id = 34;
                    var gcf5_id = 39;
                    var gcnl_id = 36;
                    var gcf4_id = 35;
                    var glf3 = 41;
                    var glf1 = 37;
                    var dt = 31;

                    $.each(data.data.categoryIds, function (idx, item) {
                        if (item === n85_id) {
                            flagN85 = true;
                        } else if (item === gcf5_id || item === gcnl_id || item === glf3) {
                            flag = true;
                        }

                        if (item === gcf4_id) {
                            flagF4 = true;
                        }

                        if (item === glf1) {
                            flagF1 = true;
                        }

                        if (item === dt) {
                            flagDT = true;
                        }
                    });

                    if (data.data.productItems[0].productOptions != undefined && data.data.productItems[0].productOptions[0] != undefined && flag != true) {
                        var _arr = [];
                        if (flagDT != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input option-dt" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Size lớn" id="dtL" checked>
                                                            <label class="form-check-label" for="dtL">Lớn</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input option-dt" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Size nhỏ" id="dtS">
                                                            <label class="form-check-label" for="dtS">Nhỏ</label>
                                                        </div>`);
                            $('.option-dt').click(function () {
                                if ($('#dtL').is(':checked')) {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice').text("6800000");
                                } else {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice').text("6500000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flagF4 != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                        <div class="form-check">
                                                                        <input class="form-check-input option-f4" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Đầu 12cm" id="f4L">
                                                            <label class="form-check-label" for="f4L">12 cm</label>
                                                        </div>
                                                        <div class="form-check">
                                                                <input class="form-check-input option-f4" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Đầu 9cm" id="f4S" checked>
                                                            <label class="form-check-label" for="f4S">9 cm</label>
                                                        </div>`);
                            $('.option-f4').click(function () {
                                if ($('#f4L').is(':checked')) {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice').text("5500000");
                                } else {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice-'+pro).text("5300000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flagF1 != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                        <div class="form-check">
                                                                <input class="form-check-input option-f1" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Dài" id="f1L" checked>
                                                            <label class="form-check-label" for="f1L">Dài</label>
                                                        </div>
                                                        <div class="form-check">
                                                                <input class="form-check-input option-f1" type="radio" name="flexRadioOption" data-option="`+ data.data.name + ` - Ngắn" id="f1S">
                                                            <label class="form-check-label" for="f1S">Ngắn</label>
                                                        </div>`);
                            $('.option-f1').click(function () {
                                if ($('#f1L').is(':checked')) {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice').text("2000000");
                                } else {
                                    var option = $(this).attr("data-option");
                                    getOptionProductForOption(option);
                                    $('#iprPrice').text("1000000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flag != true && flagF4 != true && flagF1 != true && flagDT != true) {
                            if (flagN85 != true) {
                                $("#paymentItemColor").append(`<label>.Màu sắc</label>
                                                            <div class="ipr-color">
                                                                <a href="javascript:void(0)" class="product-color brown active" data-color="`+ data.data.sku + `-MAU NAU" title="Màu nâu"></a>
                                                                <a href="javascript:void(0)" class="product-color grape" data-color="`+ data.data.sku + `-MAU NHO" title="Màu nho"></a>
                                                                <a href="javascript:void(0)" class="product-color black" data-color="`+ data.data.sku + `-MAU DEN" title="Màu đen"></a>
                                                                <a href="javascript:void(0)" class="product-color green" data-color="`+ data.data.sku + `-MAU XANH LA" title="Màu xanh"></a>
                                                            </div>`);
                            } else {
                                $("#paymentItemColor").append(`<label>.Màu sắc</label>
                                                            <div class="ipr-color">
                                                                <a href="javascript:void(0)" class="product-color yellow active" data-color="`+ data.data.sku + `-MAU VANG-CHAN NGAN" title="Màu vàng"></a>
                                                                <a href="javascript:void(0)" class="product-color orange" data-color="`+ data.data.sku + `-MAU CAM-CHAN NGAN" title="Màu cam"></a>
                                                                <a href="javascript:void(0)" class="product-color red" data-color="`+ data.data.sku + `-MAU DO-CHAN NGAN" title="Màu đỏ"></a>
                                                                <a href="javascript:void(0)" class="product-color gray" data-color="`+ data.data.sku + `-MAU XAM-CHAN NGAN" title="Màu xám"></a>
                                                                <a href="javascript:void(0)" class="product-color green" data-color="`+ data.data.sku + `-MAU XANH LA-CHAN NGAN" title="Màu xanh lá"></a>
                                                                <a href="javascript:void(0)" class="product-color blue" data-color="`+ data.data.sku + `-MAU XANH DUONG-CHAN NGAN" title="Màu xanh dương"></a>
                                                            </div>`);
                                $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input option-n85" type="radio" name="flexRadioOption" value="Chân dài" id="n85-L">
                                                                <label class="form-check-label" for="n85-L">Chân dài</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input option-n85" type="radio" name="flexRadioOption" value="Chân ngắn" id="n85-S" checked>
                                                                <label class="form-check-label" for="n85-S">Chân ngắn</label>
                                                            </div>`);
                                $('.option-n85').click(function () {
                                    if ($('#n85-L').is(':checked')) {
                                        $('#iprPrice').text("1430000");
                                    } else {
                                        $('#iprPrice').text("1320000");
                                    }
                                    $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                                });
                            }

                        }

                        $.each(data.data.productMedias, function (_idx, _item) {
                            if (flagN85 != true) {
                                if (_item.itemCode == data.data.sku + '-MAU NAU') {
                                    _arr.push(_item);
                                }
                            } else {
                                if (flagN85 == true && _item.itemCode == data.data.sku + '-MAU VANG-CHAN NGAN') {
                                    _arr.push(_item);
                                }
                            }
                            if (flagF4 != false || flag != false || flagF1 != false || flagDT != false) {
                                _arr.push(_item);
                            }
                        });

                        if (_arr[0] != undefined) {
                            $.each(_arr, function (_idx, _item) {
                                $("#imgMainPosition" + (_idx + 1)).attr('src', _item.mediaUrl);
                                $("#imgThumbPosition" + (_idx + 1)).attr('src',);
                                imgProduct = `<div class="swiper-slide" >
                                                    <img id="imgMainPosition`+ (_idx + 1) + `" class="img-product-detail" src="` + _item.mediaUrl + `" />
                                                </div>`;
                                imgThumb = `<div class="swiper-slide">
                                                <div class="bg-product-thumb">
                                                    <img id="imgThumbPosition`+ (_idx + 1) + `" class="img-thumb-position" src="` + _item.mediaUrl + `" />
                                                </div>
                                            </div>`;
                                $("#productSwiperMain").append(imgProduct);
                                $("#productSwiperThumb").append(imgThumb);
                            });
                        }
                    }

                    $('.product-color').click(function () {
                        var getcolor = $(this).attr("data-color");
                        loadProductForColor(getcolor);
                    });

                    $('#quantityPayment-' + productId).change(function () {
                        var _price = data.data.price;
                        var _subTotal = data.data.price * $('#quantityPayment-' + productId).val();
                        $("#cart-subtotal").html(_subTotal);

                        formartVND($("#cart-subtotal"));

                        var _total = _subTotal + data.data.priceDiscount;
                        $("#cart-total").html(_total);
                        formartVND($('#cart-total'));
                    });
                    
                },
                error: function (error) {
                    //handle show error
                    console.error('Error:', error);
                }
            });
        }

        //handle pic product to color
        function loadProductForColor(color) {
            var _arr = [];
            if (resultAPI != undefined) {
                getOptionProductForColor(color);
                $.each(resultAPI.data.productMedias, function (idx, item) {
                    if (item.itemCode == color) {
                        _arr.push(item);
                    }
                });
            }

            if (_arr[0] != undefined) {
                $.each(_arr, function (_idx, _item) {
                    $("#imgProductPayment").attr('src', _item.mediaUrl);
                });
            }

            $(".product-color").removeClass("active");
            $(this).addClass("active");
        }

        //handle get Product id for color
        function getOptionProductForColor(option) {
            if (resultAPI != undefined) {
                var productId = resultAPI.data.id;
                $.each(resultAPI.data.productItems, function (idx, item) {
                    if (item.sku == option) {
                        $("#productItemId-" + productId).val(item.id);
                    }
                });
            }
        }

        //handle get Product id for option
        function getOptionProductForOption(option) {
            if (resultAPI != undefined) {
                var productId = resultAPI.data.id;
                $.each(resultAPI.data.productItems, function (idx, item) {
                    if (item.name == option) {
                        $("#productItemId-" + productId).val(item.id);
                    }
                });
            }
        }

        getProduct();

        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
        
    </script>
}