
<div class="container">
    <div class="nav-header">
        <div id="logo">
            <a asp-controller="Home" asp-action="Index" class="scrollto">
                <picture>
                    <source media="(max-width:991px)" srcset="~/img/logo/logo-mobile.svg">
                    <img src="~/img/logo/logo-header.svg"/>
                </picture>
            </a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-controller="About" asp-action="Index">Giới thiệu</a></li>
                <li><a asp-controller="Clinic" asp-action="Index">Đức Phúc DoctorLoan</a></li>
                <li><a asp-controller="ShowRoom" asp-action="Index">Showroom</a></li>
                @*< li class="dropdown">
                    <a asp-controller="Products" asp-action="Index">Sản phẩm</a>
                    <div class="mega-menu">
                        <div class="list-menu">
                            <div class="container">
                                <div class="swiper menuProductSwiper">
                                    <div class="swiper-wrapper">
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            <div class="swiper-slide">
                                                <a asp-controller="Products" asp-action="ProductDetail"><img src="~/img/common/menu-product-@(i).png" /></a>
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li> *@
                <li class="dropdown menu-dropdown">
                    <a asp-controller="News" asp-action="Index"><span>Tin tức</span></a>
                    <div class="sub-menu">
                        <ul>
                            <li><a asp-controller="News" asp-action="NewsGroup">Thời sự</a></li>
                            @* <li><a asp-controller="News" asp-action="NewsGroup">Nguyên nhân gây bệnh cột sống</a></li>
                            <li><a asp-controller="News" asp-action="NewsGroup">Thực trạng xã hội và y học</a></li>
                            <li><a asp-controller="News" asp-action="NewsGroup">Giải pháp phòng bệnh</a></li>
                            <li><a asp-controller="News" asp-action="NewsGroup">Câu chuyện của những bệnh nhân</a></li>
                            <li><a asp-controller="News" asp-action="NewsGroup">Hoạt động xã hội</a></li> *@
                        </ul>
                    </div>
                </li>
                @* <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li> *@
                <li class="only-mb">
                    @*<a asp-controller="Auth" asp-action="Login">Đăng nhập</a>*@
                    @* <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Đăng Xuất</a> *@
                </li>
                @* <li class="only-mb"><a asp-controller="Auth" asp-action="Register">Đăng ký</a></li> *@
            </ul>
        </nav>

        <img class="slogan-mobile" src="~/img/logo/slogan-mobile.svg" />

        @* <div class="header-info">
            <div class="auth-frm">
                <a asp-controller="Cart" asp-action="Index" class="shopping-cart"><img src="~/img/icon/shopping-cart.svg" /> <span>2</span> </a>
                <div class="not-logged">
                    <a asp-controller="Auth" asp-action="Login" class="btn btn-login">Đăng nhập</a>
                    <a asp-controller="Auth" asp-action="Register" class="btn btn-register">Đăng ký</a>
                </div>
                <div class="nav-profile" style="display: none;">
                    <button id="ProfileFunc" class="profile-icon" data-menu-expanded="false"><img src="~/img/home/avatar-3.png" /></button>
                    <div class="dropdown-profile" hidden>
                        <div class="dropdown-content">
                            <div class="menu-profile-header">
                                <img src="~/img/home/avatar-3.png" />
                                <p><strong>Ngô Thành Công</strong> <span>ngothanhcong@doctorloan.vn</span></p>
                            </div>
                            <div class="menu-profile-body">
                                <a class="item-menu-profile" href="javascript:void(0)"><img src="~/img/icon/icon-profile.svg" /> Hồ sơ sức khỏe</a>
                                <a class="item-menu-profile" href="javascript:void(0)"><img src="~/img/icon/icon-medical-history.svg" /> Lịch khám bệnh</a>
                                <a class="item-menu-profile" href="javascript:void(0)"><img src="~/img/icon/icon-setting.svg" /> Cài đặt</a>
                            </div>
                            <div class="menu-profile-footer">
                                <a class="item-menu-profile" href="javascript:void(0)"><img src="~/img/icon/icon-logout.svg" /> Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>

<script type="text/javascript">
    $(document).on("click", "#ProfileFunc", function (e) {
        e.preventDefault();
        var getactive = $(this).attr("data-menu-expanded");
        var parentPF = $(this).parents(".nav-profile");
        if (getactive == 'false') {
            getactive = 'true';
            $(this).addClass("active");
            $(this).attr('data-menu-expanded', getactive);
            parentPF.find(".dropdown-profile").removeAttr('hidden');
        } else {
            getactive = 'false';
            $(this).removeClass("active");
            $(this).attr('data-menu-expanded', getactive);
            parentPF.find(".dropdown-profile").attr('hidden', true);
        }
    });

    $(window).on('load', function () {
        var swiper2 = new Swiper(".menuProductSwiper", {
            slidesPerView: 7,
            loop: true,
            spaceBetween: 24,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            }
        });
    });
</script>

