<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Công ty TNHH Gia Thái DOCTORLOAN</title>
    <link href="~/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/glightbox/glightbox.min.css" rel="stylesheet" />
    <link href="~/libs/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/libs/swiperjs/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/libs/font-awesome_5.15.1/font-awesome_5.15.1_css_all.min.css" rel="stylesheet" />
    <link href="~/css/styles.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="~/libs/jquery/jquery-3.7.0.min.js"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <script type='text/javascript'>
        msg = document.title;
        msg = msg + ".";
        position = 0;

        function scrolltitle() {
            document.title = msg.substring(position, msg.length) + msg.substring(0, position);
            position++;
            if (position > msg.length) position = 0
            window.setTimeout("scrolltitle()", 110);
        }
        scrolltitle();
    </script>
</head>
<body>
    <header>
        @await Html.PartialAsync("/Views/Common/_HeaderPartial.cshtml")
    </header>
    <main>
        <div b-hmxnz7sj43="" id="myModalEvert" class="modal" tabindex="-1" role="dialog" style="display: none;">
            <div b-hmxnz7sj43="" id="modalDialog" class="modal-dialog" role="document">
                <div b-hmxnz7sj43="" id="modalContent" class="modal-content">
                    <div b-hmxnz7sj43="" class="modal-body">
                        <div class="pyro">
                            <div class="before"></div>
                            <div class="after"></div>
                        </div>

                        <button b-hmxnz7sj43="" type="button" class="btn-close" id="btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
                        <a asp-controller="News" asp-action="Sales">
                            <img id="imgModal" src="~/img/eventualities/Combo_Goi_PROMO.jpg" />
                        </a>
                        
                        @* <div id=slideSet1>
                            <div>
                                <img src="~/img/eventualities/noen.jpg" style="width:100%" />
                            </div>
                            <div>
                                <a href="https://docs.google.com/spreadsheets/d/13zAxF_vJQi0e9ni9FQfowPlLWHDCWxBmKf1mjzM6LW0/htmlview#gid=1884199409" target="_blank">
                                    <img src="~/img/eventualities/workshop.png" style="width:100%" />
                                </a>
                            </div>
                             <div>
                                <img src="~/img/eventualities/noen.jpg" style="width:100%" />
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()

        <div id='codepro-ads-bottom-left-corner'>
            <div class='exit-codepro-ads-bottom-left-corner'>
                <a href='javascript:;' onclick='hideitem()'><i class="fas fa-times-circle"></i></a>
            </div>
            <a href='https://docs.google.com/spreadsheets/d/13zAxF_vJQi0e9ni9FQfowPlLWHDCWxBmKf1mjzM6LW0/edit?usp=sharing' target='_blank' title='Chia sẻ kiến thức, tư duy sáng tạo!'>
                <div class='codepro-ads-bottom-left-corner-hover' > 
                    <div id='codepro-setAds-left'></div>
                </div>
            </a>
        </div>

        <div class="zalo-chat-widget" data-oaid="3997762822356581117" data-welcome-message="DOCTORLOAN Rất vui khi được hỗ trợ bạn!" data-autopopup="2" data-width="" data-height=""></div>

        <!-- Messenger Chat plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
    </main>
    <footer>
        @await Html.PartialAsync("/Views/Common/_FooterPartial.cshtml")
    </footer>


    <script>
        setTimeout("document.getElementById('myModalEvert').style.display='block'", 1000);

        // Handle close modal
        $('#btnClose').click(function () {
            document.getElementById('myModalEvert').style.display = 'none';
        });

        function hideitem() {
            document.getElementById("codepro-ads-bottom-left-corner").style.display = "none";
        }

        if (window.location.pathname === "/News/Sales") {
            $("#myModalEvert").css("display", "none")
        }

        //<!--Your SDK code-- >
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "122107555106002865");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v18.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/libs/swiperjs/swiper-bundle.min.js"></script>
    <script src="~/libs/bootstrap/popper.min.js"></script>
    <script src="~/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/libs/superfish/hoverintent.js"></script>
    <script src="~/libs/superfish/superfish.min.js"></script>
    <script src="~/libs/glightbox/glightbox.min.js"></script>
    <script src="~/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
