<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Công ty TNHH Gia Thái DOCTORLOAN</title>
    <link href="~/libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/glightbox/glightbox.min.css" rel="stylesheet" />
    <link href="~/libs/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/libs/swiperjs/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/libs/font-awesome_5.15.1/font-awesome_5.15.1_css_all.min.css" rel="stylesheet" />
    <link href="~/css/styles.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="~/libs/jquery/jquery-3.7.0.min.js"></script>
    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <script type='text/javascript'>
        msg = document.title;
        msg = msg + ".";
        position = 0;

        function scrolltitle() {
            document.title = msg.substring(position, msg.length) + msg.substring(0, position);
            position++;
            if (position > msg.length) position = 0
            window.setTimeout("scrolltitle()", 110);
        }
        scrolltitle();
    </script>
</head>
<body>
    <header>
        @await Html.PartialAsync("/Views/Common/_HeaderPartial.cshtml")
    </header>
    <main>
        @RenderBody()

        <div id='codepro-ads-bottom-left-corner'>
            <div class='exit-codepro-ads-bottom-left-corner'>
                <a href='javascript:;' onclick='hideitem()'><i class="fas fa-times-circle"></i></a>
            </div>
            <a href='https://forms.gle/QE9iFzJN3vcGL9tN6' target='_blank' title='Chia sẻ kiến thức, tư duy sáng tạo!'>
                <div class='codepro-ads-bottom-left-corner-hover' > 
                    <div id='codepro-setAds-left'></div>
                </div>
            </a>
        </div>

        <div class="zalo-chat-widget" data-oaid="3997762822356581117" data-welcome-message="DOCTORLOAN Rất vui khi được hỗ trợ bạn!" data-autopopup="2" data-width="" data-height=""></div>

        <!-- Messenger Chat plugin Code -->
        <div id="fb-root"></div>

        <!-- Your Chat plugin code -->
        <div id="fb-customer-chat" class="fb-customerchat"></div>
    </main>
    <footer>
        @await Html.PartialAsync("/Views/Common/_FooterPartial.cshtml")
    </footer>


    <script>
        function hideitem() {
            document.getElementById("codepro-ads-bottom-left-corner").style.display = "none";
        }

        if (window.location.pathname === "/News/Sales") {
            $("#myModalEvert").css("display", "none")
        }

        //<!--Your SDK code-- >
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "122107555106002865");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v18.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="~/js/main.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/libs/swiperjs/swiper-bundle.min.js"></script>
    <script src="~/libs/bootstrap/popper.min.js"></script>
    <script src="~/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/libs/superfish/hoverintent.js"></script>
    <script src="~/libs/superfish/superfish.min.js"></script>
    <script src="~/libs/glightbox/glightbox.min.js"></script>
    <script src="~/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/libs/Bootstrap/bootstrap-datetimepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
