@{
    ViewData["Title"] = "Khuyến mãi";
}

<section id="NewsDetail">
    <div class="container">
        <div class="news-content-detail">
            <div class="news-content-wrapper">
                <div>
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/Combo_Goi_PROMO.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/135_PROMO.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/90M_90_son_PROMO.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/95-90D_PROMO.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/n85_PROMO.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
    </script>
}