@{
    ViewData["Title"] = "Khuyến mãi";
}

<section id="NewsDetail">
    <div class="container">
        <div class="news-content-detail">
            <div class="news-content-wrapper">
                <div>
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/ghe-ngoi-sang-che-n85-ctkm-t01.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/Combo-gdt-ctkm-t01.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/ghe-nam-135-promo-ctkm01.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/ghe-90S-90M-ctkm-t01.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/ghe-95V-ctkm-t01.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
    </script>
}