@{
    ViewData["Title"] = "Khuyến mãi";
}

<section id="NewsDetail">
    <div class="container">
        <div class="news-content-detail">
            <div class="news-content-wrapper">
                <div>
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/135_PROMO_T12.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/90M-90S_PROMO_T12.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/95V-90D_PROMO_T12.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/Combo_G_PROMO_T12.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/N85_PROMO_T12.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
    </script>
}