@{
    ViewData["Title"] = "Khuyến mãi";
}

<section id="NewsDetail">
    <div class="container">
        <div class="news-content-detail">
            <div class="news-content-wrapper">
                <div>
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/promotion_N85.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/promotion_gc.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/promotion_135.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/promotion_95V_90D.jpg" />
                    </a>
                </div>
                <div class="mt-5">
                    <a asp-controller="Products" asp-action="Index">
                        <img src="~/img/eventualities/promotion_90M_90C.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
    </script>
}