@{
    ViewData["Title"] = "Sản phẩm";
}

@{
    var countNum = 5;
}
<input type="hidden" id="txtCountNumber" value="@countNum" />

<section id="infoProduct">
    
</section>

@*<section id="ContentProducts">
    <div class="container">
        <div class="product-content-wrapper">
            <div class="main-content">
                <div class="accordion-product">
                    <div class="accordion-product-body">
                        <div class="content-t-wrap">
                            <div id="parameterAll" class="parameter-all">

                                <div class="parameter-item">
                                    <p class="parameter-ttl">ĐỘ BỀN SỬ DỤNG</p>
                                    <ul class="ulist ">
                                        <li>
                                            <div class="ctLeft">
                                                <p>Độ bền lưng ghế</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Hơn 10 năm</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Công nghệ sản xuất</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Composite</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="parameter-item">
                                    <p class="parameter-ttl">HIỆU QUẢ ĐỐI VỚI BỆNH CỘT SỐNG</p>
                                    <ul class="ulist ">
                                        <li>
                                            <div class="ctLeft">
                                                <p>Phòng bệnh cột sống</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Thoát vị đĩa đệm</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Đau mỏi vai gáy</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Đau mỏi lưng - mông</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Đa mỏi chân – gối</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Thư giản</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Có</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="parameter-item">
                                    <p class="parameter-ttl">THÔNG TIN LẮP ĐẶT</p>
                                    <ul class="ulist ">
                                       <li>
                                            <div class="ctLeft">
                                                <p>Kích thước</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>105.2 x 48.4 x 64.8</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Khối lượng </p>
                                            </div>
                                            <div class="ctRight">
                                                <span>- Kg</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Hướng dẫn lắp ráp</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>-</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Sản xuất tại</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Công ty TNHH Gia Thái DOCTORLOAN</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="parameter-item">
                                    <p class="parameter-ttl">Bảo hành sản phẩm</p>
                                    <ul class="ulist ">
                                        <li>
                                            <div class="ctLeft">
                                                <p>Thân ghế:</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>Không có</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Lõi thân ghế:</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>10 năm</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ctLeft">
                                                <p>Chân ghế:</p>
                                            </div>
                                            <div class="ctRight">
                                                <span>6 tháng</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pd-button-overlay"><span class="button-overlay btn-seemore">Đọc thêm<span class="carret"></span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<section id="ProductBestSeller" class="product-wrapper">
    <div class="container">
        <div class="title-product-info">
            <h4>Sản phẩm DOCTORLOAN</h4>
            <span>Sản phẩm được cấp bằng sáng chế độc quyền được bảo hộ trên 62 quốc gia</span>
        </div>
        <div id="itemBestSeller" class="row justify-content-center"></div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-menu-container ul li").removeClass("menu-active");
            $("#nav-menu-container ul li").eq(4).addClass("menu-active");
        });

        $(document).on("click", ".btn-seemore", function () {
            var parentbtn = $(this).parents(".pd-button-overlay");
            parentbtn.hide();
            $(".accordion-product").addClass("expand");
        });

        $('.ipr-price').text(parseInt($('.ipr-price').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));

        //Function get parameter in url
        function getParam(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }

        function redirectToWithData(url, data) {
            // Create query parameters obj data
            var queryParams = $.param(data);

            // Handle string query parameters in URL
            var redirectUrl = queryParams ? url + "?" + queryParams : url;

            // Redirect to Url
            window.location.href = redirectUrl;
        }

        // Get the value of the parameter in URL
        var _productId = getParam('productId');
        var _categoryId = getParam('categoryId');

        // Get the value of the parameter categoryId in URL
        if (_categoryId != undefined) {
            $.ajax({
                url: 'https://doctorloan-api.giathaidoctorloan.vn/api/product-module/Product/FilterProducts?CategoryId=' + _categoryId,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    getProduct(data.data.items[0].id);
                },
                error: function (error) {
                    //handle show error
                    console.error('Error:', error);
                }
            });
        }
        

        if (_productId != undefined) {
            getProduct(_productId);
        }

        var resultAPI;

        // Get the value of the parameter productId in URL
        function getProduct(id) {
            $.ajax({
                url: 'https://doctorloan-api.giathaidoctorloan.vn/api/product-module/Product/GetProduct?id=' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    resultAPI = data;
                    var productSwiperMain = $(`<div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <div class="swiper productSwiperMain">
                                                                <div id="productSwiperMain" class="swiper-wrapper"></div>
                                                                <div class="swiper-button-next"></div>
                                                                <div class="swiper-button-prev"></div>
                                                            </div>
                                                            <div thumbsSlider="" class="swiper productSwiperThumb">
                                                                <div id="productSwiperThumb" class="swiper-wrapper"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="info-product-right">
                                                                <div class="ipr-name">`+ data.data.name + `</div>
                                                                <div id="iprPrice" class="ipr-price">`+ data.data.price + `</div>
                                                                <div id="iprItemColor" class="ipr-item"></div>
                                                                <div id="iprItemOption" class="ipr-item"></div>
                                                                <div class="ipr-item">
                                                                    <div>
                                                                        <label>.Mô tả</label>
                                                                        `+ data.data.productDetails[0].summary + `
                                                                    </div>
                                                                </div>
                                                                <div class="ipr-action-details">
                                                                    @* <a href="javascript:void(0)" class="btn btn-dtl">Thêm vào giỏ hàng</a> *@
                                                                    <a id="buy-`+ data.data.id + `" data-id="` + data.data.id + `" class="btn btn-buy-details" target="_blank">Mua ngay</a>
                                                                </div>
                                                                <div class="shopify-button">
                                                                    <div class="action-item custom-action-item action-company action-call">
                                                                        <strong style="font-size: 1.3rem;color: black">Mua dễ dàng hơn bằng</strong><img src="/img/icon/shopify.png" style="width: 30%;">

                                                                    </div>
                                                                    <a href="" class="btn btn-outline-dtl btn-shopify" target="_blank">Mua ngay</a>
                                                                </div>
                                                                <div class="ipr-policy">
                                                                    <div class="policy-item">
                                                                        <img src="/img/icon/p-shield.svg" />
                                                                        <span>Cam kết <strong>hàng mới 100%</strong></span>
                                                                    </div>
                                                                    <div class="policy-item">
                                                                        <img src="/img/icon/p-box-iso.svg" />
                                                                        <span>Bảo hành chính hãng <br /> <a class="btn-seemore" href="javascript:void(0)">@*<i class="fas fa-download"></i> Xem chi tiết*@</a></span>
                                                                    </div>
                                                                    <div class="policy-item">
                                                                        <img src="/img/icon/p-delivery-truck.svg" />
                                                                        <span>
                                                                            Free ship toàn quốc <br />
                                                                            Giao nhanh 4H nội thành HCM
                                                                        </span>
                                                                    </div>
                                                                    <div id="policyItem" class="policy-item"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="view-more" class="view-more">
                                                            @*<button class="btn btn-view-more btn-seemore">Xem chi tiết thông số <i class="fas fa-angle-down"></i></button>*@
                                                        </div>
                                                    </div>
                                                </div>`);
                    $("#infoProduct").append(productSwiperMain);

                    setHrefHDSD(data.data.id);
                    setHrefShopify(data.data.id);
                    loadAttributes(data.data.productAttributes);

                    // Handle format currency vnd
                    $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));

                    var imgProduct;
                    var imgThumb = "";
                    var flagN85 = false;
                    var flag = false;
                    var flagF4 = false;
                    var flagF1 = false;
                    var flagDT = false;
                    var gn_135 = 21;
                    var n85_id = 34;
                    var gcf5_id = 39;
                    var gcnl_id = 36;
                    var gcf4_id = 35;
                    var glf3 = 41;
                    var glf1 = 37;
                    var dt = 31;

                    $.each(data.data.categoryIds, function (idx, item) {
                        if (item === n85_id) {
                            flagN85 = true;
                        } else if (item === gcf5_id || item === gcnl_id || item === glf3) {
                            flag = true;
                        } 
                        
                        if (item === gcf4_id) {
                            flagF4 = true;
                        }

                        if (item === glf1) {
                            flagF1 = true;
                        }

                        if (item === dt) {
                            flagDT = true;
                        }
                    });
                    
                    if (data.data.productItems[0].productOptions != undefined && data.data.productItems[0].productOptions[0] != undefined && flag != true) {
                        var _arr = [];
                        if (flagDT != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input option-dt" type="radio" name="flexRadioOption" id="dtL" checked>
                                                                                    <label class="form-check-label" for="dtL">Lớn</label>
                                                                                </div>
                                                                                <div class="form-check">
                                                                                    <input class="form-check-input option-dt" type="radio" name="flexRadioOption" id="dtS">
                                                                                    <label class="form-check-label" for="dtS">Nhỏ</label>
                                                                                </div>`);
                            $('.option-dt').click(function () {
                                if ($('#dtL').is(':checked')) {
                                    $('#iprPrice').text("6800000");
                                } else {
                                    $('#iprPrice').text("6500000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flagF4 != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input option-f4" type="radio" name="flexRadioOption" id="f4L">
                                                                            <label class="form-check-label" for="f4L">12 cm</label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input option-f4" type="radio" name="flexRadioOption" id="f4S" checked>
                                                                            <label class="form-check-label" for="f4S">9 cm</label>
                                                                        </div>`);
                            $('.option-f4').click(function () {
                                if ($('#f4L').is(':checked')) {
                                    $('#iprPrice').text("5500000");
                                } else {
                                    $('#iprPrice').text("5300000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flagF1 != false) {
                            $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input option-f1" type="radio" name="flexRadioOption" id="f1L" checked>
                                                            <label class="form-check-label" for="f1L">Dài</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input option-f1" type="radio" name="flexRadioOption" id="f1S">
                                                            <label class="form-check-label" for="f1S">Ngắn</label>
                                                        </div>`);
                            $('.option-f1').click(function () {
                                if ($('#f1L').is(':checked')) {
                                    $('#iprPrice').text("2000000");
                                } else {
                                    $('#iprPrice').text("1000000");
                                }
                                $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                            });
                        }

                        if (flag != true && flagF4 != true && flagF1 != true && flagDT != true) {
                            if (flagN85 != true) {
                                $("#iprItemColor").append(`<label>.Màu sắc</label>
                                                                <div class="ipr-color">
                                                                    <a href="javascript:void(0)" class="product-color brown active" data-color="`+ data.data.sku + `-MAU NAU" title="Màu nâu"></a>
                                                                    <a href="javascript:void(0)" class="product-color grape" data-color="`+ data.data.sku + `-MAU NHO" title="Màu nho"></a>
                                                                    <a href="javascript:void(0)" class="product-color black" data-color="`+ data.data.sku + `-MAU DEN" title="Màu đen"></a>
                                                                    <a href="javascript:void(0)" class="product-color green" data-color="`+ data.data.sku + `-MAU XANH LA" title="Màu xanh"></a>
                                                                </div>`);
                            } else {
                                $("#iprItemColor").append(`<label>.Màu sắc</label>
                                                                <div class="ipr-color">
                                                                    <a href="javascript:void(0)" class="product-color yellow active" data-color="`+ data.data.sku + `-MAU VANG-CHAN NGAN" title="Màu vàng"></a>
                                                                    <a href="javascript:void(0)" class="product-color orange" data-color="`+ data.data.sku + `-MAU CAM-CHAN NGAN" title="Màu cam"></a>
                                                                    <a href="javascript:void(0)" class="product-color red" data-color="`+ data.data.sku + `-MAU DO-CHAN NGAN" title="Màu đỏ"></a>
                                                                    <a href="javascript:void(0)" class="product-color gray" data-color="`+ data.data.sku + `-MAU XAM-CHAN NGAN" title="Màu xám"></a>
                                                                    <a href="javascript:void(0)" class="product-color green" data-color="`+ data.data.sku + `-MAU XANH LA-CHAN NGAN" title="Màu xanh lá"></a>
                                                                    <a href="javascript:void(0)" class="product-color blue" data-color="`+ data.data.sku + `-MAU XANH DUONG-CHAN NGAN" title="Màu xanh dương"></a>
                                                                </div>`);
                                $("#iprItemOption").append(`<label>.Tuỳ chọn</label>
                                                                <div class="form-check">
                                                                    <input class="form-check-input option-n85" type="radio" name="flexRadioOption" value="Chân dài" id="n85-L">
                                                                    <label class="form-check-label" for="n85-L">Chân dài</label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input option-n85" type="radio" name="flexRadioOption" value="Chân ngắn" id="n85-S" checked>
                                                                    <label class="form-check-label" for="n85-S">Chân ngắn</label>
                                                                </div>`);
                                $('.option-n85').click(function () {
                                    if ($('#n85-L').is(':checked')) {
                                        $('#iprPrice').text("1430000");
                                    } else {
                                        $('#iprPrice').text("1320000");
                                    }
                                    $('#iprPrice').text(parseInt($('#iprPrice').text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));
                                });
                            }
                            
                        }

                        $.each(data.data.productMedias, function (_idx, _item) {
                            if (flagN85 != true) {
                                if (_item.itemCode == data.data.sku + '-MAU NAU') {
                                    _arr.push(_item);
                                }
                            } else {
                                if (flagN85 == true && _item.itemCode == data.data.sku + '-MAU VANG-CHAN NGAN') {
                                    _arr.push(_item);
                                }
                            }
                            if (flagF4 != false || flag != false || flagF1 != false || flagDT != false) {
                                _arr.push(_item);
                            }
                        });
                        
                        if (_arr[0] != undefined) {
                            $.each(_arr, function (_idx, _item) {
                                $("#imgMainPosition" + (_idx + 1)).attr('src', _item.mediaUrl);
                                $("#imgThumbPosition" + (_idx + 1)).attr('src',);
                                imgProduct = `<div class="swiper-slide" >
                                                        <img id="imgMainPosition`+ (_idx + 1) + `" class="img-product-detail" src="` + _item.mediaUrl + `" />
                                                    </div>`;
                                imgThumb = `<div class="swiper-slide">
                                                        <div class="bg-product-thumb">
                                                            <img id="imgThumbPosition`+ (_idx + 1) + `" class="img-thumb-position" src="` + _item.mediaUrl + `" />
                                                        </div>
                                                    </div>`;
                                $("#productSwiperMain").append(imgProduct);
                                $("#productSwiperThumb").append(imgThumb);
                            });
                        }
                    } else {
                        var _arr = [];
                        $.each(data.data.productMedias, function (idx, item) {
                            _arr.push(item);
                        });

                        $.each(_arr, function (_idx, _item) {

                            imgProduct = `<div class="swiper-slide" >
                                                <img id="imgMainPosition`+ (_idx + 1) + `" class="img-product-detail" src="` + data.data.productMedias[_idx].mediaUrl + `" />
                                            </div>`;
                            imgThumb = `<div class="swiper-slide">
                                            <div class="bg-product-thumb">
                                                <img id="imgThumbPosition`+ (_idx + 1) + `" class="img-thumb-position" src="` + data.data.productMedias[_idx].mediaUrl + `" />
                                            </div>
                                        </div>`;
                            $("#productSwiperMain").append(imgProduct);
                            $("#productSwiperThumb").append(imgThumb);
                        });
                    }

                    var swiper = new Swiper(".productSwiperThumb", {
                        loop: false,
                        spaceBetween: 12,
                        slidesPerView: 5,
                        freeMode: true,
                        watchSlidesProgress: true,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                    });

                    var swiper2 = new Swiper(".productSwiperMain", {
                        loop: false,
                        spaceBetween: 0,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                        thumbs: {
                            swiper: swiper,
                        },
                    });

                    $('.product-color').click(function () {
                        var getcolor = $(this).attr("data-color");
                        loadProductForColor(getcolor);
                    });
                    
                    // Handle buy now
                    $("#buy-" + data.data.id).click(function () {
                        var _data = {
                            id: data.data.id,
                            quantity: 1,
                        };
                        redirectToWithData("/Cart/Payment", _data);
                    });
                },
                error: function (error) {
                    //handle show error
                    console.error('Error:', error);
                }
            });
        }

        //handle get Attributes
        function loadAttributes(_attr) {
            var attr = `<div class="parameter-item">
                            <p class="parameter-ttl">Tổng quan</p>
                            <ul class="ulist ">
                                <li>
                                    <div class="ctLeft">
                                        <p>Kiểu dáng</p>
                                    </div>
                                    <div class="ctRight">
                                        <span></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Tải trọng tối đa</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>150 Kg</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Điều chỉnh lưng ghế</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>Không</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Điều chỉnh chân ghế</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>Không</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Chất liệu thân ghế</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>Sợi thủy tinh, Composite</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Chất liệu vỏ bọc</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>Da Simili</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Chất liệu chân ghế</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>Inox 304</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="ctLeft">
                                        <p>Năm ra mắt</p>
                                    </div>
                                    <div class="ctRight">
                                        <span>2014</span>
                                    </div>
                                </li>
                            </ul>
                        </div>`;
        }

        //handle pic product to color
        function loadProductForColor(color) {
            var _arr = [];
            if (resultAPI != undefined) {
                $.each(resultAPI.data.productMedias, function (idx, item) {
                    if (item.itemCode == color) {
                        _arr.push(item);
                    }
                });
            }
            
            if (_arr[0] != undefined) {
                $.each(_arr, function (_idx, _item) {
                    $("#imgMainPosition" + (_idx + 1)).attr('src', _item.mediaUrl);
                    $("#imgThumbPosition" + (_idx + 1)).attr('src', _item.mediaUrl);
                });
            }

            $(".product-color").removeClass("active");
            $(this).addClass("active");
        }

        //handle add href link HDSD
        function setHrefHDSD(id) {
            var _tmp = "";
            switch (id) {
                case 21:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br /> 
                            <a class="btn-hdsd" href = "/img/products/135/HDSD-135.pdf" target = "_blank" > <i class="fas fa-download"> </i> Xem chi tiết</a> </span>`;
                    break;
                case 22:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/90D/HDSD-GN.pdf" target = "_blank" > <i class="fas fa-download"> </i> Xem chi tiết</a> </span>`;
                    break;
                case 23:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/90M/HDSD-GN.pdf" target = "_blank" > <i class="fas fa-download"> </i> Xem chi tiết</a> </span>`;
                    break;
                case 24:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/95V/HDSD-GN.pdf" target = "_blank" > <i class="fas fa-download"> </i> Xem chi tiết</a> </span>`;
                    break;
                case 25:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/N85/HDSD-N85.pdf" target = "_blank" > <i class="fas fa-download"> </i> Xem chi tiết</a> </span>`;
                    break;
                case 27:
                    break;
                case 28:
                    break;
                case 26:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/GC/HDSD-GC.pdf" target = "_blank" > <i class="fas fa-download" > </i> Xem chi tiết</a > </span>`;
                    break;
                case 29:
                    break;
                case 30:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/GC/HDSD-GC.pdf" target = "_blank" > <i class="fas fa-download" > </i> Xem chi tiết</a > </span>`;
                    break;
                case 31:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/GC/HDSD-GC.pdf" target = "_blank" > <i class="fas fa-download" > </i> Xem chi tiết</a > </span>`;
                    break;
                case 32:
                    _tmp = `<img src="/img/icon/p-setting.svg" />
                            <span><strong>Hướng dẫn lắp ráp </strong> <br />
                            <a class="btn-hdsd" href = "/img/products/GC/HDSD-GC.pdf" target = "_blank" > <i class="fas fa-download" > </i> Xem chi tiết</a > </span>`;
                    break;
                default:
                // code block
            }

            return $("#policyItem").append(_tmp);
        }

        //handle add href link shopify
        function setHrefShopify(id) {
            var _href = "";
            switch (id) {
                case 21:
                    _href = "https://doctorloanstore.myshopify.com/products/135-doctorloan-chair";
                    break;
                case 22:
                    _href = "https://doctorloanstore.myshopify.com/products/90-doctorloan-chair";
                    break;
                case 22:
                    _href = "https://doctorloanstore.myshopify.com/products/90-doctorloan-thin-chair";
                    break;
                case 24:
                    _href = "https://doctorloanstore.myshopify.com/products/gh%E1%BA%BF-ng%E1%BB%93i-doctorloan-95-vip";
                    break;
                case 25:
                    _href = "https://doctorloanstore.myshopify.com/products/85-chair";
                    break;
                case 27:
                    _href = "https://doctorloanstore.myshopify.com/products/f3-pillow";
                    break;
                case 28:
                    _href = "https://doctorloanstore.myshopify.com/products/f1-pillow";
                    break;
                case 26:
                    _href = "https://doctorloanstore.myshopify.com/products/f4-pillow";
                    break;
                case 29:
                    _href = "https://doctorloanstore.myshopify.com/products/d%E1%BB%87m-thi%E1%BB%81n-doctorloan";
                    break;
                default:
                // code block
            }

            return $(".btn-shopify").attr("href", _href);
        }

        //handle get Product Best Saller
        function getProductBestSaller() {
            $.ajax({
                url: 'https://doctorloan-api.giathaidoctorloan.vn/api/product-module/Product/FilterProducts?CategoryId=24',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Handle call API Products
                    $.each(data.data.items, function (idx, item) {
                        var productItem = $(`<div data-id="` + item.id + `" class="col-xl-2 col-lg-3 col-md-4 col-6 col-20">
                                                <div class="product-item" >
                                                    <div class="img-item" >
                                                        <div id="imgItemBestSaler-`+ item.id + `"></div>
                                                    </div>
                                                    <div class="content-item">
                                                        <h5><span>`+ item.name + `</span><strong>` + ((item.summary != undefined) ? item.summary : '') + `</strong> </h5>
                                                        <div id="price-item-`+ item.id + `" class="price-item">` + item.productItems[0].price + `</div>
                                                            <div class="action-item">

                                                            <a id="buy-`+ item.id + `" data-id="` + item.id + `" class="btn btn-buy" target="_blank">Mua ngay</a>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`);
                        $("#itemBestSeller").append(productItem);

                        //Handle get img product
                        getImgProduct(item.id);

                        // Handle format currency vnd
                        $('#price-item-' + item.id).text(parseInt($('#price-item-' + item.id).text()).toLocaleString('vi', { style: 'currency', currency: 'VND' }));

                        // Handle seen details
                        $('#product-' + item.id).click(function () {
                            var data = {
                                productId: item.id,
                            };
                            redirectToWithData("/Products/ProductDetail", data);
                        });

                        /*
                        <a id="add-cart-`+ item.id + `" data-id="` + item.id + `" class="icon-cart"> <i class="fas fa-shopping-bag" > </i></a >
                        // Handle add to cart
                        $('body').on('click', '.price-item', function () {
                            const id = $(this).data('id');
                            alert("say hi!, ", id);
                        });
                        */

                        // Handle buy now
                        $("#buy-" + item.id).click(function () {
                            var data = {
                                id: item.id,
                                quantity: 1,
                            };
                            redirectToWithData("/Cart/Payment", data);
                        });
                    });

                },
                error: function (error) {
                    //handle show error
                    console.error('Error:', error);
                }
            });
        }

        getProductBestSaller();

        //Handle get Image Product for id
        function getImgProduct(id) {
            $.ajax({
                url: 'https://doctorloan-api.giathaidoctorloan.vn/api/product-module/Product/GetProduct?id=' + id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var flagN85, flag = false;
                    var gn_135 = 21;
                    var n85_id = 34;
                    var dt_id = 29;
                    var gcf5_id = 30;
                    var gcnl_id = 31;
                    var imgProduct;

                    $.each(data.data.categoryIds, function (idx, item) {
                        if (item === n85_id) {
                            flagN85 = true;
                        }
                        if (item === dt_id || item === gcf5_id || item === gcnl_id) {
                            flag = true;
                        }
                    });

                    if (data.data.productItems[0].productOptions != undefined && data.data.productItems[0].productOptions[0] != undefined && flag != true) {
                        var _arr = [];

                        $.each(data.data.productMedias, function (_idx, _item) {
                            if (flagN85 != true) {
                                if (_item.itemCode == data.data.sku + '-MAU NAU') {
                                    _arr.push(_item);
                                }
                            } else {
                                if (flagN85 == true && _item.itemCode == data.data.sku + '-MAU VANG-CHAN NGAN') {
                                    _arr.push(_item);
                                }
                            }
                        });

                        if (_arr[0] != undefined) {
                            $.each(_arr, function (_idx, _item) {
                                imgProduct = `<img src="` + _item.mediaUrl + `" />`;
                            });
                            $("#imgItemBestSaler-" + id).append(imgProduct);
                        }
                    } else {
                        var _arr = [];
                        $.each(data.data.productMedias, function (idx, item) {
                            _arr.push(item);
                        });

                        $.each(_arr, function (_idx, _item) {
                            imgProduct = `<img src="` + _item.mediaUrl + `" />`;
                        });
                        $("#imgItemBestSaler-" + id).append(imgProduct);
                    }
                },
                error: function (error) {
                    //handle show error
                    console.error('Error:', error);
                }
            });
        }

        var swiper5 = new Swiper(".relatedProductSwiper", {
            direction: 'horizontal',
            slidesPerView: 2,
            spaceBetween: 20,
            grabCursor: true,
            loop: false,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                768: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                992: {
                    slidesPerView: 5,
                    spaceBetween: 24,
                }
            },
        });

    </script>
}